@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="form-container">
    <h2>Contact Us</h2>
    <form id="homeForm">
      <input type="text" id="name" placeholder="Enter your name" required>
      <input type="email" id="email" placeholder="Enter your email" required>
      <button type="submit">Submit</button>
    </form>
  </div>

